* {
    box-sizing: border-box;
  }

header{
    background: grey;
    width: 100vw;
    height: 150px;
}
footer{
    background: black;
    width: 80vw;
    height: 75px;
    bottom: 0;
    position: absolute;
    float: left;
    Margin: 0 150px 0 130px;

}

section{
    background-color: white;
    height: 76vh;
    width: 80vw;
    float: center;
    margin: 0 150px 0 130px;
}

.outerContainer{
    background-color: lightgrey;
    height: 100hv;
    width: 100vw;

}